@import "../../utils.scss";
@import '../link/link.scss';
@import '../icon/icon.scss';
@import "../button/button.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;

  &--visibility {
    filter: blur(10px);
  }
}

.logo {
  &__name {
    font-size: 32px;
    font-weight: 200;
    margin: 0;
    line-height: 32px;
  }

  &__line {
    display: inline-block;
    width: 100%;
    height: 9px;
    background: url('../../assets/logo/logo.png') 0 0 no-repeat;
    background-size: contain;
  }
}

//.selector {
//  display: flex;
//  margin: 0;
//  list-style: none;
//
//  &__item {
//    margin-left: 4px;
//  }
//}

.menu {
  &__link {
    margin-left: 4px;
  }
}

@include breakpoint('l') {
  .header {
    width: calc(100% - 80px);
  }
}

@include breakpoint('s') {
  .header {
    width: 100%;
  }
}
