<header class="header">
  <div class="logo">
    <img class="logo__pic" src="../../assets/capsule.svg" alt="Pillbox">
    <h1 class="logo__name"><a class="logo__link" href="https://getpillboxapp.com">Pillbox</a></h1>
  </div>
  <ul class="selector">
    <li class="selector__item"><button class="button button--action"
                                       [routerLink]="['/home/-L0dRv-aGoYeniq-vtiZ']"
                                       [queryParams]="{ modal: true, date: getToday() }"><i class="icon icon--plus"></i> Add medicine</button></li>
    <li class="selector__gap"></li>
    <li class="selector__item"><button class="button"
                                       [routerLink]="['/home']"
                                       [queryParams]="{ week: null }"
                                       (click)="onToday()">Current Week</button></li>
    <li class="selector__item"><button class="button"
                                       (click)="onNextWeek()"
                                       [routerLink]="['/home']"
                                       [queryParams]="{ week: week }">Next <i class="icon icon--right"></i></button></li>
  </ul>
  <div class="month">
    {{ month }}
  </div>
  <menu class="menu" *ngIf="authInfo?.isLoggenIn()">
    <a href="#" class="menu__link link" [routerLink]="['/home/settings']" [queryParams]="{ modal: true }">
      <i class="link__icon icon icon--setting"></i>
      <span>Settings</span>
    </a>
    <a href="#" class="menu__link link" (click)="logout(); false">
      <i class="link__icon icon icon--power"></i>
      <span>Logout</span>
    </a>
  </menu>
</header>
