@import "../../utils.scss";
@import '../link/link.scss';
@import '../icon/icon.scss';
@import '../logo/logo.scss';
@import "../button/button.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &--visibility {
    filter: blur(10px);
  }
}

.month {
  font-size: 20px;
  padding: 0 20px;
}

.selector {
  display: flex;
  margin: 0;
  padding: 0 30px;
  list-style: none;

  &__item {
    margin-left: 4px;
  }

  &__gap {
    width: 8px;
  }
}

.menu {
  margin: 0;
  padding: 0;

  &__link {
    margin-left: 4px;
  }
}

@include breakpoint('l') {
  .header {
    width: calc(100% - 80px);
  }
}

@include breakpoint('s') {
  .header {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .selector {
    order: 3;
    margin: 10px auto;
    padding: 0;
  }

  .menu {
    span {
      display: none;
    }
  }

  .month {
    padding: 0 5px;
  }
}
