@import '../link/link.scss';
@import '../icon/icon.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &--visibility {
    filter: blur(10px);
  }
}

.logo {
  font-size: 32px;
  font-weight: 200;
  margin: 0;
}
