@import "../../utils.scss";

.maincontainer {
  width: 970px;
  min-height: 300px;
  padding: 20px 15px;

  &--centered {
    margin: auto;
  }
}

@include breakpoint('s'){
  .maincontainer {
    width: 300px;
  }
}
