@import "../../utils.scss";
@import '../icon/icon.scss';

.organizer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  &__head {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
  }

  &__item:last-child /deep/ .week__item {
    border-bottom: 1px solid;
  }

  &__icon {
    font-size: 1.2rem;
    position: absolute;
    top: 38%;
    left: -40px;
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: transparent;
    border-radius: 50%;
  }

  &__item:hover &__icon {
    color: #fff;
    background: #333;
  }

  &__link--disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  //&__item:nth-child(2) /deep/ .week__item:first-child {
  //  border-radius: 3px 0 0 0;
  //}
  //
  //&__item:nth-child(2) /deep/ .week__item:last-child {
  //  border-radius: 0 3px 0 0;
  //}

  &__item:last-child /deep/ .week__item:first-child {
    border-radius: 0 0 0 3px;
  }

  &__item:last-child /deep/ .week__item:last-child {
    border-radius: 0 0 3px 0;
  }
  
  &__date {
    font-size: .8rem;
    width: 100%;
    padding: 3px 3px 0;
    text-align: center;
    color: black;
  }
}

/deep/ .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

@include breakpoint('l') {
  .organizer-outer {
    //position: relative;
    padding: 0 10px;
    width: 100vw;
    overflow-x: scroll;
    box-sizing: border-box;
  }

  .organizer-outer:before,
  .organizer-outer:after {
    position: absolute;
    top: 100px;
    z-index: 100;
    height: 100%;
    width: 10px;
    content: '';
  }

  .organizer-outer:before {
    left: 0;
    //background: linear-gradient(-90deg, rgba(255, 255, 255, 0), #fff);
    backdrop-filter: blur(20px);
  }

  .organizer-outer:after {
    right: 0;
    backdrop-filter: blur(20px);
    //background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
  }

  .organizer {
    width: 1190px;

    //&--mon {
    //  margin-left: calc(1190px / 8 * 0);
    //}
    //
    //&--tue {
    //  margin-left: calc(1190px / 8 * -1);
    //}
    //
    //&--wed {
    //  margin-left: calc(1190px / 8 * -2);
    //}
    //
    //&--thu {
    //  margin-left: calc(1190px / 8 * -3);
    //}
    //
    //&--fri {
    //  margin-left: calc(1190px / 8 * -4);
    //}
    //
    //&--sat {
    //  margin-left: calc(1190px / 8 * -5);
    //}
    //
    //&--sun {
    //  margin-left: calc(1190px / 8 * -6);
    //}
  }
}

//@include breakpoint('l') {
//  .organizer {
//    width: calc(100% - 80px);
//  }
//}
//
//@include breakpoint('s'){
//  .organizer {
//    position: relative;
//    min-width: 0;
//    min-height: 0;
//    margin-top: 40px;
//
//    &__head {
//      position: absolute;
//      left: 50%;
//      margin-top: -45px;
//      transform: translate(-50%, 0);
//    }
//
//    &__head &__date {
//      display: none;
//    }
//
//    &__head &__date:first-child,
//    &__head &__date:last-child {
//      display: block;
//      margin-right: 6px;
//    }
//
//    &__item {
//      position: static;
//    }
//
//    &__item /deep/ .caption__day {
//      display: none;
//    }
//
//    &__item:nth-child(2) /deep/ .caption__day {
//      display: block;
//    }
//
//    &__link {
//      position: absolute;
//      right: -45px;
//    }
//
//    &__icon {
//      display: block;
//      top: 0;
//      color: #fff;
//      background: #333;
//    }
//
//    &__date:nth-child(1),
//    &__date:nth-child(7) {
//      color: #fff;
//      background: transparent;
//    }
//  }
//}
