<ul class="organizer" [ngClass]="{ 'organizer--visibility': visibility }">
  <li class="organizer__head" *ngIf="isLoaded">
    <span class="organizer__date" *ngFor="let day of days">{{ day }}</span>
  </li>
  <li class="organizer__item" *ngFor="let item of schedule">
      <a class="organizer__link"
         [routerLink]="['/home/' + item.$key]"
         [queryParams]="{ modal: true, schedule: item.name }"
         [class.organizer__link--disabled]="status === 'canceled' || (!trial && status !== 'active')">
        <i class="organizer__icon icon icon--plus"></i>
      </a>
      <app-week [week]="item.week" [schedule]="item.name"></app-week>
  </li>
</ul>
<app-spinner *ngIf="!isLoaded"></app-spinner>
