@import "../../utils.scss";
@import '../icon/icon.scss';

.organizer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
  }

  &__icon {
    font-size: 1.2rem;
    position: absolute;
    top: 38%;
    left: -40px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: transparent;
    border-radius: 50%;
  }

  &__item:hover &__icon {
    color: #fff;
    background: #333;
  }
}

@include breakpoint('s'){
  .organizer {
    position: relative;
    width: calc(100% - 30px);
    margin-left: 30px;
    margin-top: 30px;

    &__item {
      position: static;
    }

    &__item /deep/ .caption__day {
      display: none;
    }

    &__item:first-child /deep/ .caption__day {
      display: block;
    }
  }
}
