.label {
  font-size: 14px;
  top: 30px;
  right: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  color: #2c3035;
  transform: rotate(2deg);
}

.label::before,
.label::after {
  position: absolute;
  top: 0;
  content: "";
  border-style: solid;
  border-width: 10px 5px;
  border-radius: 2px;
}

.label::before {
  left: -5px;
  border-color: #ffd200 #ffd200 #ffd200 transparent;
}

.label::after {
  right: -5px;
  border-color: #ffd200 transparent #ffd200 #ffd200;
}

.label__inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 6px;
  color: #2a2a2a;
  background: #ffd200;
}
