.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary);
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid;
  }

  &__icon {
    padding-right: 4px;
  }
}
