/**
 *  @see fontello.com
 */
@font-face {
  font-family: 'icons';
  src: url('../../assets/icon/icon.ttf') format('truetype');
  src: url('../../assets/icon/icon.woff') format('woff');
}

.icon {
  &::before {
    font-family: 'icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1em;
    text-align: center;
    box-sizing: content-box;
  }

  &--setting::before {
    content: '\e800';
  }

  &--lock::before {
    content: '\e801';
  }

  &--heart::before {
    content: '\e803';
  }

  &--down::before {
    content: '\e80d';
  }

  &--power::before {
    content: '\e811';
  }

  &--plus::before {
    content: '\e813';
  }

  &--cancel::before {
    content: '\e814';
  }

  &--right:before {
    content: '\e80a';
  }

  &--up:before {
    content: '\e80b';
  }

  &--left:before {
    content: '\e80c';
  }

  &--ok:before {
    content: '\e815'
  }
}
