@import '../input/input.scss';
@import '../button/button.scss';
@import '../link/link.scss';
@import '../icon/icon.scss';
@import '../fieldset/fieldset.scss';
@import '../logo/logo.scss';

.logo {
  position: absolute;
  top: 0;
  left: 0;
}
