@import "../../utils.scss";

.week {
  display: flex;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    width: calc(100vw / 7);
    //max-width: 140px;
    max-width: 170px;
    height: 130px;
    overflow: hidden;
    box-sizing: border-box;
    color: var(--primary);
    //border-right: 1px solid var(--primary);
  }

  &__item:hover {
    overflow: visible;
  }

  &__item--mon {
    color: var(--mon);
    //border-color: var(--mon);
    box-shadow: inset 2px 2px 2px 0 var(--mon);
  }

  &__item--tue {
    color: var(--tue);
    //border-color: var(--tue);
    box-shadow: inset 2px 2px 2px 0 var(--tue);
  }

  &__item--wed {
    color: var(--wed);
    //border-color: var(--wed);
    box-shadow: inset 2px 2px 2px 0 var(--wed);
  }

  &__item--thu {
    color: var(--thu);
    //border-color: var(--thu);
    box-shadow: inset 2px 2px 2px 0 var(--thu);
  }

  &__item--fri {
    color: var(--fri);
    //border-color: var(--fri);
    box-shadow: inset 2px 2px 2px 0 var(--fri);
  }

  &__item--sat {
    color: var(--sat);
    //border-color: var(--sat);
    box-shadow: inset 2px 2px 2px 0 var(--sat);
  }

  &__item--sun {
    color: var(--sun);
    //border-color: var(--sun);
    border-right: 1px solid var(--sun);
    box-shadow: inset 2px 2px 2px 0 var(--sun);
  }

  &__item--current {
    //color: var(--primary);
    //border-color: var(--primary);
    //box-shadow: inset 2px 2px 2px 0 var(--primary);
    background: var(--secondary-background);
  }

  &__item--current /deep/ .receptums,
  &__item--current /deep/ .receptums__item:hover {
    background: var(--secondary-background);
  }

  &__item:first-child /deep/ .caption__time {
    display: block;
  }
}

@include breakpoint('m'){
  .week {
    &__item {
      height: 100px;
    }
  }
}

@include breakpoint('s'){
  .week {
    &__item {
      position: static;
      overflow: visible;
      width: 40px;
      height: 40px;
    }

    &__item /deep/ .caption__period {
      display: none;
    }

    &__item:first-child /deep/ .caption__period {
      display: block;
    }

    &__item /deep/ .receptums {
      display: none;
    }

    &__item /deep/ .handle:checked + .receptums {
      display: block;
    }
  }
}
