.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;

  &__item {
    flex-grow: 1;
    height: 3px;
  }

  &__item:nth-child(1) {
    background: var(--mon);
  }

  &__item:nth-child(2) {
    background: var(--tue);
  }

  &__item:nth-child(3) {
    background: var(--wed);
  }

  &__item:nth-child(4) {
    background: var(--thu);
  }

  &__item:nth-child(5) {
    background: var(--fri);
  }

  &__item:nth-child(6) {
    background: var(--sat);
  }

  &__item:nth-child(7) {
    background: var(--sun);
  }
}
