.logo {
  display: flex;
  align-items: center;

  &__pic {
    width: 46px;
    height: 46px;
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
    text-transform: uppercase;
  }
}
