.logo {
  display: flex;
  align-items: center;

  &__pic {
    width: 50px;
    height: 64px;
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__link {
    color: #000;
    text-decoration: none;
  }
}
