<div class="maincontainer maincontainer--centered clearfix">
  <form class="fieldset"
        [formGroup]="form">
    <h2 class="fieldset__head">Create Your Account <small>or
      <a class="link"
         [routerLink]="['/login']">Log In</a>
    </small></h2>
    <div class="fieldset__item">
      <input class="fieldset__input input input--extra" type="text" placeholder="Your Email Address" name="email" autofocus
             formControlName="email">
    </div>
    <div class="fieldset__item">
      <input class="fieldset__input input input--extra" type="password" placeholder="Your Password" name="password"
             formControlName="password">
    </div>
    <div class="fieldset__item">
      <input class="fieldset__input input input--extra" type="password" placeholder="Confirm Your Password" name="confirm"
             formControlName="confirm">
    </div>
    <div class="fieldset__foot">
      <button class="button button--large"
              (click)="signUp()"
              [disabled]="!isPasswordMatch()"
              [ngClass]="{'button--disabled': !isPasswordMatch() }"><i class="link__icon icon icon--lock"></i>Sign Up</button>
    </div>
  </form>
</div>
