.button {
  --white: #fff;

  --hue: 25;
  --saturation: 90%;
  --lightness: 59%;

  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
  display: inline-block;
  height: 30px;
  margin: 0 0 2px 0;
  padding: 1px 15px 0 15px;
  letter-spacing: 0.05em;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px hsl(var(--hue), var(--saturation), calc(var(--lightness) - 5%));
  background: hsl(var(--hue), var(--saturation), var(--lightness));
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);

  &:hover {
    text-decoration: none;
    color: #fff;
    background: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
  }

  &:active {
    background: hsl(var(--hue), var(--saturation), var(--lightness));
  }

  &:focus,
  &:active {
    outline: none;
  }

  &--small {
    font-size: 10px;
    line-height: 16px;
    height: 18px;
    padding: 1px 9px 0 9px;
  }

  &--large {
    font-size: 13px;
    line-height: 38px;
    height: 40px;
    padding: 1px 20px 0 20px;
    border-radius: 3px;
  }

  &--extra {
    font-size: 14px;
    line-height: 48px;
    height: 50px;
    padding: 1px 25px 0 25px;
    border-radius: 3px;
  }

  &--pseudo {
    --hue: 0;
    --saturation: 0%;
    --lightness: 80%;

    color: hsl(var(--hue), var(--saturation), calc(var(--lightness) - 5%));
    box-shadow: inset 1px 0 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
    inset 0 1px 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
    inset -1px 0 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
    0 2px hsl(var(--hue), var(--saturation), var(--lightness));
    background: var(--white);

    &:hover {
      color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
      box-shadow: inset 1px 0 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
      inset 0 1px 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
      inset -1px 0 0 0 hsl(var(--hue), var(--saturation), var(--lightness)),
      0 2px hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
      background: var(--white);
    }

    &:active {
      background: var(--white);
    }
  }

  &--action {
    --hue: 130;
    --saturation: 65%;
    --lightness: 57%;

    box-shadow: 0 2px hsl(var(--hue), var(--saturation), calc(var(--lightness) - 5%));
    background: hsl(var(--hue), var(--saturation), var(--lightness));

    &:hover {
      background: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
    }

    &:active {
      background: hsl(var(--hue), var(--saturation), var(--lightness));
    }
  }

  &:disabled {
    opacity: 0.35;
    cursor: not-allowed;;
  }
}
