@import "../../utils.scss";

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    transform: scale(1.05) rotateX(0)
  }

  100% {
    transform: scale(1) rotateX(0)
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__inner {
    position: relative;
    width: 380px;
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    animation: scale 300ms forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);
  }

  &__close {
    position: absolute;
    top: 6px;
    right: 6px;
    text-decoration: none;
    color: #333;
  }

  &__title {
    font-size: 1.1rem;
    position: relative;
    margin: 0;
    text-transform: uppercase;
  }
}

@include breakpoint('s') {
  .modal {
    align-items: initial;
  }
}
