@import "../../utils.scss";
@import "../icon/icon.scss";

.receptums {
  font-size: 0.75rem;
  position: absolute;
  z-index: 2;
  top: 3.4rem;
  //width: calc(100% - 8px);
  margin: 0 4px 0 4px;
  padding: 0;
  list-style: none;
  color: #333;
  background: #fff;

  &:hover {
    z-index: 3;
  }

  &__item {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    //text-overflow: ellipsis;
  }

  &__item:hover {
    overflow: visible;
    max-width: none;
    background: #fff;
  }

  &__icon {
    //position: absolute;
    display: none;
    cursor: pointer;
  }

  &__item:hover &__icon {
    display: inline-block;
    line-height: 15px;
  }

  &__type {
    font-weight: 400;
  }
}

.handle {
  display: none;
}

@include breakpoint('s'){
  .receptums {
    &--full {
      position: absolute;
      top: 170px;
      left: 0;
      right: 0;
      height: 40vh;
    }
  }

  .handle {
    display: block;
    margin-top: 18px;
    margin-left: 14px;
    width: 6px;
    height: 6px;
    outline: none;
    border-radius: 50%;
    background: transparent;
    -webkit-appearance: none;

    &--full {
      background: #404040;
    }

    &:checked {
      background: red;
    }
  }
}
