@import "utils.scss";
/* You can add global styles to this file, and also import other style files */

:root {
  --font-family: 'helvetica neue', helvetica, arial, sans-serif;

  --primary: #343a40;
  --secondary: #007bff;

  --mon: #f5873a;
  --tue: #ffb622;
  --wed: #90a757;
  --thu: #345274;
  --fri: #714266;
  --sat: #e25d72;
  --sun: #a22d19;
}

body {
  font-size: 16px;
  font-weight: 200;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  line-height: 1.428571429;
  letter-spacing: 0.05em;
  color: var(--primary);
}

@include breakpoint('s'){
  body {
    height: auto;
    min-height: 0;
  }
}
