@import "utils.scss";
/* You can add global styles to this file, and also import other style files */

:root {
  --font-family: 'helvetica neue', helvetica, arial, sans-serif;

  --primary: #343a40;
  --secondary: #007bff;
  --primary-background: #fff;
  --secondary-background: #f8f8f8;

  --mon: rgb(255, 149, 0);
  --tue: rgb(255, 204, 0);
  --wed: rgb(99, 218, 56);
  --thu: rgb(27, 173, 248);
  --fri: rgb(204, 115, 225);
  --sat: rgb(255, 41, 104);
  --sun: rgb(255, 59, 48);
}

body {
  font-size: 16px;
  font-weight: 200;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  line-height: 1.428571429;
  letter-spacing: 0.05em;
  color: var(--primary);
  background: var(--primary-background);
}

@include breakpoint('s'){
  body {
    height: auto;
    min-height: 0;
  }
}
