@import "utils.scss";
/* You can add global styles to this file, and also import other style files */

body {
  font-size: 16px;
  font-weight: 200;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  line-height: 1.428571429;
  letter-spacing: 0.05em;
  color: #333;
}

@include breakpoint('s'){
  body {
    height: auto;
    min-height: 0;
  }
}
