@import "../../utils.scss";

.caption {
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:hover {
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
  }

  &__inner {
    position: relative;
    margin: 0;
  }

  &__period {
    font-size: 1.1rem;
    margin: 0.5rem 0 0;
  }

  &__day {
    font-size: 0.8rem;
    margin: 0;
  }

  &__time {
    font-size: 0.6rem;
    position: absolute;
    top: 3px;
    right: 5px;
    display: none;
    margin: 0;
  }
}

@include breakpoint('s'){
  .caption {
    position: relative;

    &__day {
      position: absolute;
      top: -30px;
      width: 40px;
      text-align: center;
    }

    &__period {
      font-size: 0.7rem;
      position: absolute;
      left: -40px;
      width: 40px;
      text-align: center;
      transform: rotate(-90deg);
    }

    &__time {
      position: static;
      display: none;
    }
  }
}
