@import '../icon/icon.scss';

.caption {
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &__inner {
    margin: 0;
  }

  &__period {
    font-size: 1.1rem;
    margin: 0.5rem 0 0;
  }

  &__day {
    font-size: 0.8rem;
  }

  &__icon {
    font-size: 1.2rem;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0.8rem auto;
    line-height: 30px;
    color: transparent;
    border-radius: 50%;
  }

  &:hover &__icon {
    color: #fff;
    background: #333;
  }
}
