@import "../input/input.scss";
@import "../select/select.scss";
@import "../icon/icon.scss";
@import "../checkbox/checkbox.scss";

.receptum-form {
  &__form {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__input,
  &__button {
    display: block;
    margin: 1rem 0 0;
  }

  &__input {
    width: 100%;
  }
}
