<form [formGroup]="form">
  <br>
  <div class="plan plan--monthly">
    <input class="plan__control radio tabs" type="radio" id="monthly" name="plan" value="monthly" formControlName="plan">
    <label class="plan__text" for="monthly">
      <span class="plan__title"><b>Monthly</b></span>
      <span class="plan__price"><sup>$</sup><b>5<span>/mo</span></b></span>
      <span class="plan__label">Select plan</span>
      <span class="plan__label plan__label--checked">Selected</span>
    </label>
  </div>
  <div class="plan plan--yearly">
    <input class="plan__control radio tabs" type="radio" id="pro" name="plan" value="yearly" formControlName="plan">
    <label class="plan__text" for="pro">
      <span class="plan__title"><b>Yearly</b></span>
      <span class="plan__price"><sup>$</sup><b>48<span>/yr</span></b></span>
      <span class="plan__save">Save 20%</span>
      <span class="plan__label">Select plan</span>
      <span class="plan__label plan__label--checked">Selected</span>
    </label>
  </div>
  <br>
  <label class="option" *ngIf="free">
    <input class="option__checkbox" type="radio" name="plan" value="test" formControlName="plan">
    <i class="option__icon icon icon--ok"></i>
    Free plan
  </label>
  <label class="option" *ngIf="trial">
    <i class="option__icon icon icon--ok"></i>
    Try it free for 15 days
  </label>
</form>
