@import "../icon/icon.scss";

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.notify {
  --notify-color: black;

  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 102;
  max-width: 380px;
  padding: 6px 26px;
  color:  var(--notify-color);
  border: 1px solid var(--notify-color);
  background: #fff;
  animation: show 300ms forwards cubic-bezier(0.8, 0.02, 0.45, 0.91);

  &\#success {
    --notify-color: green;
  }

  &\#error {
    --notify-color: red;
  }

  &\/close {
    position: absolute;
    top: 4px;
    right: 6px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}
