@import "../icon/icon.scss";

.portions {
  font-size: 0.7rem;
  position: absolute;
  z-index: 2;
  top: 3.4rem;
  margin: 0 4px 4px 6px;
  padding: 0;
  list-style: none;
  color: #333;
  background: #fff;

  &__item {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  &__item:hover {
    overflow: visible;
    background: #fff;
  }

  &__icon {
    position: absolute;
    display: none;
  }

  &__item:hover &__icon {
    display: inline-block;
  }
}
