<div class="settings modal">
  <div class="modal__inner">
    <a class="modal__close" [routerLink]="['/home']"><i class="icon icon--cancel"></i></a>
    <h2 class="modal__title">Settings</h2>
    <p *ngIf="notifications === true || partialNotifications">
      Notifications
      <br>
      <button class="settings__button button" (click)="turnOffNotifications()">Turn Off Notifications</button>
    </p>
    <p *ngIf="!partialNotifications && notifications === false">Notifications is turned off</p>
    <p *ngIf="status === 'active'">
      Subscription is Active
      <br>
      <a *ngIf="cancel" class="settings__button button button--pseudo" href="{{ cancel }}">Unsubscribe</a>
    </p>
    <p *ngIf="status === 'canceled'">
      Subscription is canceled
    </p>
  </div>
</div>
