<div class="settings modal">
  <div class="modal__inner">
    <a class="modal__close" [routerLink]="['/home']"><i class="icon icon--cancel"></i></a>
    <h2 class="modal__title">Settings</h2>
    <p *ngIf="status === 'active'">
      Subscription is Active
      <br>
      <button (click)="unsubscribe()">Unsubscribe</button>
    </p>
    <p *ngIf="status === 'canceled'">Subscription is canceled</p>
    <p *ngIf="notifications === true">
      <button (click)="turnOffNotifications()">Turn Off Notifications</button>
    </p>
    <p *ngIf="notifications === false">
      Notifications is turned off
    </p>
    <button (click)="unsubscribe()"></button>
  </div>
</div>
